body{
    background-color: darkslategray;
}
div{
    background-color: white;
    margin-top: 125px;
    margin-left: auto;
    margin-right: auto;
    height: 250px;
    width: 600px;
}
h1{
    margin-left: 40px;
    margin-top: 40px;
}
h3{
    margin-left: 40px;
}
ul{
    margin-left: 40px;
}