@import url('https://fonts.googleapis.com/css2?family=Ysabeau+Infant&display=swap');
body{
    background-image: linear-gradient(180deg, #e94d26, #fefae0);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Ysabeau Infant', sans-serif;
}
#cover_Img{
    background-image: url('./pexels-simon-berger-1183099.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    height: 200px;
    width: 300px;    
}
#profile_Img{
    background-image: url('./Rakesh_Passport_Size_Photo.jpg');
    height: 150px;
    width: 150px;
    background-size: contain;
    border-radius: 50%;
    position: relative;
    top: -90px;
    left: 75px;
}
#main_Card{
    background-color: white;
    height: 500px;
    width: 300px;
    margin-top: 45px;
    margin-left: 50px;
    margin-bottom: 50px;
}
.name_Tag{
    position: relative;
    top: -100px;
    text-align: center;
}
.job_Title{
    position: relative;
    top: -108px;
    text-align: center;
    color: #4d5045;
}
.description_List{
    position: relative;
    top: -108px;
    text-align: center;

}
hr{
    position: relative;
    top: -75px;
}
#footer_Part{
    position: relative;
    top: -85px;
    text-align: center;
}    
#Dub_Card{
    background-color: white;
    height: 500px;
    width: 300px;
    margin-top: 45px;
    margin-left: 50px;
    margin-bottom: 50px;
    position: relative;
    top: -550px;
    left: 180px;
    transform: perspective(1500px) rotateY(40deg);
    z-index: 1;
}
.borDer{
    position: relative;
    top: -1100px;
    left: 560px;
    height: 500px;
    width: 10px;
    background-color: white;
}
#main_Backside_card{
    background-color: white;
    height: 500px;
    width: 300px;
    position: relative;
    top: -1620px;
    left: 750px;

}
.moTto{
    color: #4d5045;
    text-align: center;
    padding-top: 20px;
}
#header_Line{
    margin-top: 100px;
}
.about_Us{
    text-align: center;
    position: relative;
    top: -80px;
}
.description_Us{
    text-align: center;
    position: relative;
    top: -80px;
}
table{
    text-align: center;
    position: relative;
    top: -80px;
}
th{
    font-size: 20px;
}
#footer_Backside_part{
    margin-top: 120px;
}
#footer_Backside_icon{
    position: relative;
    top: -80px;
    text-align: center;
}
.fa-facebook-f{
    margin-right: 20px;
    font-size: 20px;
}
.fa-linkedin-in{
    margin-left: 20px;
    font-size: 20px;
}
.fa-google-plus-g{
    font-size: 20px;
}
#dub_Backside_card{
    background-color: white;
    height: 500px;
    width: 300px;
    margin-top: 45px;
    margin-left: 50px;
    margin-bottom: 50px;
    position: relative;
    top: -2165px;
    left: 550px;
    transform: perspective(1500px) rotateY(-40deg);
    z-index: 1;
}