@import url('https://fonts.googleapis.com/css2?family=Ysabeau+Infant&display=swap');
body{
    background-image: linear-gradient(180deg, #e76f51, #fefae0);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Ysabeau Infant', sans-serif;
}
#cover_Img{
    background-image: url('./pexels-simon-berger-1183099.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    height: 200px;
    width: 300px;    
}
#profile_Img{
    background-image: url('./Rakesh_Passport_Size_Photo.jpg');
    height: 150px;
    width: 150px;
    background-size: contain;
    border-radius: 50%;
    position: relative;
    top: -90px;
    left: 75px;
}
#main_Card{
    background-color: white;
    height: 500px;
    width: 300px;
    margin-top: 45px;
    margin-left: 50px;
    margin-bottom: 50px;
}
.name_Tag{
    position: relative;
    top: -100px;
    text-align: center;
}
.job_Title{
    position: relative;
    top: -108px;
    text-align: center;
    color: #4d5045;
}
.description_List{
    position: relative;
    top: -108px;
    text-align: center;

}
hr{
    position: relative;
    top: -75px;
}
#footer_Part{
    position: relative;
    top: -85px;
    text-align: center;
}    
#Dub_Card{
    background-color: white;
    height: 500px;
    width: 300px;
    margin-top: 45px;
    margin-left: 50px;
    margin-bottom: 50px;
    position: relative;
    top: -550px;
    left: 180px;
    transform: rotate3d(0,1,1,50deg);
    z-index: 1;
}
