@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
body{
    background-color: gray;
    font-family: 'Josefin Sans', sans-serif;
}
#news_Part{
    background-color: rgb(255, 255, 255);
    height: 292px;
    width: 246px;
    padding: 12px;
    position: relative;
    top: -30px;
    border-top-right-radius: 10%;
    border-top-left-radius: 10%;
}
#news_Paper{
    max-width: 20%;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    height: 560px;
    width: 450px;
}
.news_Paper{
    height: 270.4px;
}
h6{
    color: #4d5045;
    margin-top: -2px;
}
h4{
    margin-top: -10px;
}
p{
    margin-top: -10px;
    text-align: justify;
}
button{
    margin-top: -100px;
    height: 30px;
    width: 120px;
    color: white;
    background-color: #4d5045;
    border-color: #4d5045;
    border-radius: 10px;
}